<h1>New file_content</h1>

<% form_for(@file_content) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :md5 %><br />
    <%= f.text_field :md5 %>
  </p>
  <p>
    <%= f.label :sha1 %><br />
    <%= f.text_field :sha1 %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :mime_type %><br />
    <%= f.text_field :mime_type %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', file_contents_path %>
