<h1>Listing process_files</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Event</th>
    <th>Time at</th>
  </tr>

<% for process_file in @process_files %>
  <tr>
    <td><%=h process_file.name %></td>
    <td><%=h process_file.event %></td>
    <td><%=h process_file.time_at %></td>
    <td><%= link_to 'Show', process_file %></td>
    <td><%= link_to 'Edit', edit_process_file_path(process_file) %></td>
    <td><%= link_to 'Destroy', process_file, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New process_file', new_process_file_path %>
