<h1>Listing fingerprints</h1>

<table>
  <tr>
    <th>Os process count</th>
    <th>Checksum</th>
  </tr>

<% for fingerprint in @fingerprints %>
  <tr>
    <td><%=h fingerprint.os_process_count %></td>
    <td><%=h fingerprint.checksum %></td>
    <td><%= link_to 'Show', fingerprint %></td>
    <td><%= link_to 'Edit', edit_fingerprint_path(fingerprint) %></td>
    <td><%= link_to 'Destroy', fingerprint, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New fingerprint', new_fingerprint_path %>
