<h1>New job_alert</h1>

<% form_for(@job_alert) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :protocol %><br />
    <%= f.text_field :protocol %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', job_alerts_path %>
