<h1>Listing os</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Short name</th>
  </tr>

<% for os in @os %>
  <tr>
    <td><%=h os.name %></td>
    <td><%=h os.version %></td>
    <td><%=h os.short_name %></td>
    <td><%= link_to 'Show', os %></td>
    <td><%= link_to 'Edit', edit_os_path(os) %></td>
    <td><%= link_to 'Destroy', os, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New os', new_os_path %>
