<p>
  <b>Name:</b>
  <%=h @os.name %>
</p>

<p>
  <b>Version:</b>
  <%=h @os.version %>
</p>

<p>
  <b>Short name:</b>
  <%=h @os.short_name %>
</p>


<%= link_to 'Edit', edit_os_path(@os) %> |
<%= link_to 'Back', os_path %>
