<h1>New process_file</h1>

<% form_for(@process_file) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :event %><br />
    <%= f.text_field :event %>
  </p>
  <p>
    <%= f.label :time_at %><br />
    <%= f.text_field :time_at %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', process_files_path %>
