<h1>New url</h1>

<% form_for(@url) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :time_at %><br />
    <%= f.text_field :time_at %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_area :url %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', urls_path %>
