<h1>New client_status</h1>

<% form_for(@client_status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', client_statuses_path %>
