<h1>Listing job_sources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Protocol</th>
  </tr>

<% for job_source in @job_sources %>
  <tr>
    <td><%=h job_source.name %></td>
    <td><%=h job_source.protocol %></td>
    <td><%= link_to 'Show', job_source %></td>
    <td><%= link_to 'Edit', edit_job_source_path(job_source) %></td>
    <td><%= link_to 'Destroy', job_source, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job_source', new_job_source_path %>
