<p>
  <b>Manufacturer:</b>
  <%=h @application.manufacturer %>
</p>

<p>
  <b>Version:</b>
  <%=h @application.version %>
</p>

<p>
  <b>Short name:</b>
  <%=h @application.short_name %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
