<h1>Listing urls</h1>

<table>
  <tr>
    <th>Time at</th>
    <th>Url</th>
    <th>Priority</th>
  </tr>

<% for url in @urls %>
  <tr>
    <td><%=h url.time_at %></td>
    <td><%=h url.url %></td>
    <td><%=h url.priority %></td>
    <td><%= link_to 'Show', url %></td>
    <td><%= link_to 'Edit', edit_url_path(url) %></td>
    <td><%= link_to 'Destroy', url, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New url', new_url_path %>
