<p>
  <b>Time at:</b>
  <%=h @url.time_at %>
</p>

<p>
  <b>Url:</b>
  <%=h @url.url %>
</p>

<p>
  <b>Priority:</b>
  <%=h @url.priority %>
</p>


<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
