<p>
  <b>Name:</b>
  <%=h @configuration.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @configuration.value %>
</p>

<p>
  <b>Namespace:</b>
  <%=h @configuration.namespace %>
</p>

<p>
  <b>Description:</b>
  <%=h @configuration.description %>
</p>

<p>
  <b>Default value:</b>
  <%=h @configuration.default_value %>
</p>


<%= link_to 'Edit', edit_configuration_path(@configuration) %> |
<%= link_to 'Back', configurations_path %>
