<h1>Editing url_status</h1>

<% form_for(@url_status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @url_status %> |
<%= link_to 'Back', url_statuses_path %>
