<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Url count</th>
    <th>Completed at</th>
  </tr>

<% for job in @jobs %>
  <tr>
    <td><%=h job.uuid %></td>
    <td><%=h job.url_count %></td>
    <td><%=h job.completed_at %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_job_path %>
