<p>
  <b>Uuid:</b>
  <%=h @job.uuid %>
</p>

<p>
  <b>Url count:</b>
  <%=h @job.url_count %>
</p>

<p>
  <b>Completed at:</b>
  <%=h @job.completed_at %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
