<p>
  <b>Quick clone name:</b>
  <%=h @client.quick_clone_name %>
</p>

<p>
  <b>Snapshot name:</b>
  <%=h @client.snapshot_name %>
</p>

<p>
  <b>Suspended at:</b>
  <%=h @client.suspended_at %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
