<h1>Listing url_statistics</h1>

<table>
  <tr>
    <th>Count</th>
  </tr>

<% for url_statistic in @url_statistics %>
  <tr>
    <td><%=h url_statistic.count %></td>
    <td><%= link_to 'Show', url_statistic %></td>
    <td><%= link_to 'Edit', edit_url_statistic_path(url_statistic) %></td>
    <td><%= link_to 'Destroy', url_statistic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New url_statistic', new_url_statistic_path %>
