<h1>New url_statistic</h1>

<% form_for(@url_statistic) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :count %><br />
    <%= f.text_field :count %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url_statistics_path %>
