<h1>Listing url_statuses</h1>

<table>
  <tr>
    <th>Status</th>
  </tr>

<% for url_status in @url_statuses %>
  <tr>
    <td><%=h url_status.status %></td>
    <td><%= link_to 'Show', url_status %></td>
    <td><%= link_to 'Edit', edit_url_status_path(url_status) %></td>
    <td><%= link_to 'Destroy', url_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New url_status', new_url_status_path %>
