<p>
  <b>Name:</b>
  <%=h @process_registry.name %>
</p>

<p>
  <b>Event:</b>
  <%=h @process_registry.event %>
</p>

<p>
  <b>Value name:</b>
  <%=h @process_registry.value_name %>
</p>

<p>
  <b>Value type:</b>
  <%=h @process_registry.value_type %>
</p>

<p>
  <b>Value:</b>
  <%=h @process_registry.value %>
</p>

<p>
  <b>Time at:</b>
  <%=h @process_registry.time_at %>
</p>


<%= link_to 'Edit', edit_process_registry_path(@process_registry) %> |
<%= link_to 'Back', process_registries_path %>
