<h1>Listing process_registries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Event</th>
    <th>Value name</th>
    <th>Value type</th>
    <th>Value</th>
    <th>Time at</th>
  </tr>

<% for process_registry in @process_registries %>
  <tr>
    <td><%=h process_registry.name %></td>
    <td><%=h process_registry.event %></td>
    <td><%=h process_registry.value_name %></td>
    <td><%=h process_registry.value_type %></td>
    <td><%=h process_registry.value %></td>
    <td><%=h process_registry.time_at %></td>
    <td><%= link_to 'Show', process_registry %></td>
    <td><%= link_to 'Edit', edit_process_registry_path(process_registry) %></td>
    <td><%= link_to 'Destroy', process_registry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New process_registry', new_process_registry_path %>
