<h1>Listing os_processes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Pid</th>
    <th>Parent name</th>
    <th>Parent pid</th>
    <th>Process file count</th>
    <th>Process registry count</th>
  </tr>

<% for os_process in @os_processes %>
  <tr>
    <td><%=h os_process.name %></td>
    <td><%=h os_process.pid %></td>
    <td><%=h os_process.parent_name %></td>
    <td><%=h os_process.parent_pid %></td>
    <td><%=h os_process.process_file_count %></td>
    <td><%=h os_process.process_registry_count %></td>
    <td><%= link_to 'Show', os_process %></td>
    <td><%= link_to 'Edit', edit_os_process_path(os_process) %></td>
    <td><%= link_to 'Destroy', os_process, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New os_process', new_os_process_path %>
