<h1>Editing fingerprint</h1>

<% form_for(@fingerprint) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :os_process_count %><br />
    <%= f.text_field :os_process_count %>
  </p>
  <p>
    <%= f.label :checksum %><br />
    <%= f.text_field :checksum %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @fingerprint %> |
<%= link_to 'Back', fingerprints_path %>
