<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= Configuration.get(:name => "ui.title", :namespace => controller.controller_name.camelize.singularize).to_s %></title>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag 'active_scaffold_overrides' %>
  <%= stylesheet_link_tag 'style' %>
</head>
<% if logged_in? %>
<body>
  <div id="wrap">
    <%= render :partial => "users/user_bar" %>
    <div id="content">
    <% flash.each do |key, msg| %>
      <%= content_tag(:p, msg, :class => "flash #{key}") %>
    <% end %>
    <% tabnav :main do %>
      <%= yield  %>
    <% end %>
    </div>
  </div>
<!--
 # TODO: Include footer here.
 -->
</body>
<% else %>
<body class="login">
  <%= yield  %>
</body>
<% end %>
</html>
