<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= Configuration.get(:name => "ui.title", :namespace => controller.controller_name.camelize.singularize).to_s %></title>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag 'active_scaffold_overrides' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

  <% tabnav :main do %>
    <%= yield  %>
  <% end %>

</body>
</html>
